<ul class="side-nav">
  <li class="nav-header">Temperature</li>
  <li><a href="index.html?3h">Last 3h</a></li>
  <li><a href="index.html?24h">Last 24h</a></li>
  <li><a href="index.html?48h">Last 2 Days</a></li>
  <li><a href="index.html?1w"?>Last Week</a></li>
  <li><a href="index.html?1m">Last Month</a></li>
  <li><a href="index.html?3m">Last 3 Month</a></li>
  <li><a href="index.html?1y">Last Year</a></li>
</ul>
<ul>
  <li class="nav-header">Humidity</li>
  <li><a href="humidity.html?3h">Last 3h</a></li>
  <li><a href="humidity.html?24h">Last 24h</a></li>
  <li><a href="humidity.html?48h">Last 2 Days</a></li>
  <li><a href="humidity.html?1w">Last Week</a></li>
  <li><a href="humidity.html?1m">Last Month</a></li>
  <li><a href="humidity.html?3m">Last 3 Month</a></li>
  <li><a href="humidity.html?1y">Last Year</a></li>
</ul>