---
title: Temperatures - Tafkas' RaspberryPi'
---
<div class="page-header">
<h1>Home Temperatures</h1>
</div>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <%= partial "temp_menu" %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div id="content"> </div>     
  </div>
</div>