---
title: Temperatures - Tafkas' RaspberryPi'
---
<div class="page-header">
<h1>Home Temperatures</h1>
</div>
<<div class="row">
  <div class="col-md-2">
    <%= partial "temp_menu" %>
  </div>
  <div class="col-md-10">
    <div id="content"> </div>     
  </div>
</div>