---
title: Temperatures - Tafkas' RaspberryPi'
---
<div class="page-header">
<h1>Home Temperatures</h1>
<h2 class="bg-danger">DynDNS is shutting down its free plans. <br/> This website is moving to the domain <a href="http://pi.tafkas.net">http://pi.tafkas.net</a></h2>
</div>
<div class="row">
  <div class="col-md-2">
    <%= partial "temp_menu" %>
  </div>
  <div class="col-md-10">
    <div id="content"> </div>     
  </div>
</div>