---
title: Photovoltaic - Tafkas' RaspberryPi'
---
<div class="page-header">
  <h1>Photovoltaic monitoring</h1>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <h2>A Raspberry Pi photovoltaic monitoring solution</h2>
    More information at my
    <a href="http://blog.tafkas.net/2014/07/03/a-raspberry-pi-photovoltaic-monitoring-solution/">blog</a>.
    <a href="http://solarpi.tafkas.net/"><img src="http://i.imgur.com/HLLRQ2f.png" alt="Solar Pi Sneak Peak"/></a>
  </div>
</div>