<div id="footer">
  <div class="container">
    <p class="text-muted credit"><a href="http://blog.tafkas.net">© Tafkas</a></p>
  </div>
</div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.1/highcharts.js"></script>
<%= javascript_include_tag  "all", "main", "chart" %>
<script type="text/javascript">
    $(document).ready(function() {

      $.ajax({
        type: "GET",
        url: GetChartXml(),
        dataType: "xml",
        success: function(xml) {
          var series = []

          //define series
          $(xml).find("entry").each(function() {
            var seriesOptions = {
              name: $(this).text(),
              data: []
            };
            options.series.push(seriesOptions);
          });

          //populate with data
          $(xml).find("row").each(function() {
            var t = parseInt($(this).find("t").text()) * 1000

            $(this).find("v").each(function(index) {
              var v = parseFloat($(this).text())
              v = v || null
              if (v != null) {
                options.series[index].data.push([t, v])
              };
            });
          });

          options.title.text = GetChartTitle()
          $.each(series, function(index) {
            options.series.push(series[index]);
          });

          //add sunrise and sunset
          no_sun = ['1yminmax', '1y', '3m'];     
          if ($.inArray(urlParameter, no_sun) == -1) 
          {
            options.xAxis.plotBands = []
            for (var i = 31; i >= 0; i--) {
              var d = new Date();
              d.setHours(0,0,0,0);
              d.setDate(d.getDate()-i);
              var sunrise = d.getTime()+computeSunrise(dayOfYear(), true);
              var sunset = d.getTime()+computeSunrise(dayOfYear(), false);
              options.xAxis.plotBands.push({
                from: sunrise,
                to: sunset,
                color: '#FCFFC5'
              });
            };
          };
          chart = new Highcharts.Chart(options);
        }
      });
    });
  </script>
  <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-708317-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>