---
title: Tafkas RaspberryPi
---
<div class="page-header">
  <div class="jumbotron">
    <h1>About</h1>
    <p>You can read about the projects on my <a href="http://blog.tafkas.net">blog</a></p>
  </div>
</div>