---
title: Tafkas RaspberryPi
---
<div class="page-header">
  <div class="jumbotron">
    <h1>My Raspberry Pi</h1>
    <p>Here are some or my personal projects that run on this Raspberry Pi</p>
  </div>
</div>
<div class="row">
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Home Temperatues</h2>
    <p>Logging and charting temperatures and humidity using wireless sensors in my apartment</p>
    <p><a class="btn btn-default" href="temperatures/" role="button">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Super Cool Project 2</h2>
    <p>coming soon ...</p>
    <p><a class="btn btn-default" href="/" role="button">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Super Cool Project 3</h2>
    <p>coming soon ...</p>
    <p><a class="btn btn-default" href="/" role="button">View details &raquo;</a></p>
  </div><!--/span-->
</div>